<a href="https://colab.research.google.com/github/Lamiya05/Patika/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [48]:
#1) 123 rəqəmini string/character ə çevirin və tipini yoxlayın.
a=123
string_a=str(a)
print(string_a)
print(type(string_a))

123
<class 'str'>

In [49]:
#2) 19.99 dəyərini tam ədədə çevirin və nəticəni çap edin.
dec = 19.99
int_num = int(dec)
print(int_num)

19

In [50]:
#3) "500" dəyərini numericə çevirin və 2-yə bölüb nəticəni çap edin.
a = "500"
b = int(a)
result = b / 2
print(result)

250.0

In [51]:
#4) a = 8 və b = 12 yaradın. a < b və a == b şərtlərini yoxlayın, nəticələri çap edin.
a = 8
b = 12
R1 = a < b
R2 = a == b
print("a < b : ", R1)
print("a == b : ", R2)

a < b :  True
a == b :  False

In [52]:
#5) x = 5, y = 10, z = 15 yaradın. (x < y) and (y < z) şərtini yoxlayın və nəticəni çap edin.
x = 5
y = 10
z = 15
result = (x < y) and (y < z)
print(result)

True

In [53]:
#6) 25-i 4-ə bölün. Tam bölmə, qalıq və adi bölmə nəticələrini çap edin.
a = 25
b = 4
tam = a // b
qaliq = a % b
adi = a / b
print("Tam bölmə:", tam)
print("Qalıq:", qaliq)
print("Adi bölmə:", adi)

Tam bölmə: 6
Qalıq: 1
Adi bölmə: 6.25

In [54]:
#7) 3-ü 4-cü dərəcəyə qaldırın və nəticəni çap edin.
print(3**4)

81

In [55]:
#8) qiymet = 75.5 yaradın. Onu tam ədədə çevirin və tipini yoxlayın.
qiymet = 75.5
tam = int(qiymet)
print(tam)
print(type(tam))

75
<class 'int'>

In [56]:
#9) n = 20 yaradın. (n > 10) or (n < 5) və (n > 15) and (n < 25) şərtlərini yoxlayın, nəticələri çap edin.
n = 20
r1 = (n > 10) or (n < 5)
r2 = (n > 15) and (n < 25)
print(" n > 10 or n < 5:", r1)
print(" n > 15 and n < 25:", r2)

 n > 10 or n < 5: True
 n > 15 and n < 25: True

In [57]:
#10) "42.8" dəyərini əvvəl float-a, sonra tam ədədə çevirin və hər addımda tipi yoxlayın.
a = "42.8"
float_a = float(a)
print(float_a)
print(type(float_a))

integer_a = int(float_a)
print(integer_a)
print(type(integer_a))

42.8
<class 'float'>
42
<class 'int'>

In [58]:
#1) s = "Programming" yaradın. Uzunluğunu və ilk simvolunu çap edin.
s = "Programming"
print(len(s))
print(s[0])

11
P

In [59]:
#2)s1 = "Hello" və s2 = "World" yaradın. Onları boşluqla birləşdirin və nəticəni çap edin.
s1 = "Hello"
s2 = "World"
print(s1 + " " + s2)

Hello World

In [60]:
#3)text = "Python" yaradın. Son simvolunu çap edin.
text = "Python"
print(text[-1])

n

In [61]:
#4)s = "Artificial" yaradın. "Art" hissəsini ilə çıxarın və çap edin.
s = "Artificial"
print(s[3:])

ificial

In [62]:
#5)word = "Code" yaradın. Tərsinə çevirin və nəticəni çap edin.
word = "Code"
print(word[::-1])

edoC

In [63]:
#6)s = "abcdefgh" yaradın. Hər ikinci simvolu alın və çap edin.
s = "abcdefgh"
print(s[::2])

aceg

In [64]:
#7)text = "data" yaradın. Onu bir sətrlik kodla böyük hərflərə və kiçik hərflərə çevirib çap edin.
text = "data"
print(text.upper())
print(text.lower())

DATA
data

In [65]:
#8)s = "Python-R-Java" yaradın. "-" ilə ayırın (split("-")) və nəticəni çap edin.
s = "Python-R-Java"
print(s.split("-"))

['Python', 'R', 'Java']

In [66]:
#9)ad = "Ayxan" və yaş = 25 yaradın. f-string ilə "Ayxan 25 yaşındadır" çap edin.
ad = "Ayxan"
yaş = 25
print(f"{ad} {yaş} yaşındadır")

Ayxan 25 yaşındadır

In [67]:
#10)s = "salam-dunya" yaradın. "-"ni boşluqla əvəz edin və nəticəni çap edin.
s = "salam-dunya"
print(s.replace("-", " "))

salam dunya

In [68]:
#1) 5, 10, 15, 20 rəqəmlərindən ibarət “rəqəmlər” adlı list/vector yaradın
rəqəmlər = [5, 10, 15, 20]
print(rəqəmlər)

[5, 10, 15, 20]

In [69]:
#2) “rəqəmlər” listinin/vectorunun uzunluğunu tapın
rəqəmlər = [5, 10, 15, 20]
uzunluq = len(rəqəmlər)
print(uzunluq)

4

In [70]:
#3) “rəqəmlər” listinə/vectoruna 25 elementini əlavə edin
rəqəmlər.append(25)
print(rəqəmlər)

[5, 10, 15, 20, 25]

In [71]:
#4) “rəqəmlər” listinin/vectorunun 2-ci indeksinə 12 elementini əlavə edin
rəqəmlər.insert(2, 12)
print(rəqəmlər)

[5, 10, 12, 15, 20, 25]

In [72]:
#5) 1, 2, 3 və 4, 5, 6 listlərini/vectorlarını birləşdirin
a = [1, 2, 3]
b = [4, 5, 6]
AB = a + b
print(AB)

[1, 2, 3, 4, 5, 6]

In [73]:
#6) “rəqəmlər” listindən/vectorundan 2-ci və 3-cü elementləri seçin
a = rəqəmlər[2:4]
print(a)

[12, 15]

In [74]:
#7) “rəqəmlər” listinin/vectorunun ilk elementini 50 ilə əvəz edin
rəqəmlər[0] = 50
print(rəqəmlər)

[50, 10, 12, 15, 20, 25]

In [75]:
#8) “rəqəmlər” listində/vectorunda 19 elementinin olub-olmadığını yoxlayın
A = 19 in rəqəmlər
print(A)

False

In [76]:
#9) "a", "b", "a", "c" listində/vectorunda "a" elementinin neçə dəfə təkrarlandığını tapın
List_1 = ["a", "b", "a", "c"]
C = List_1.count("a")
print(C)

2

In [77]:
#10) "x", "y", "x", "z" listindən/vectorundan "x" elementlərini silin
List_2 = ["x", "y", "x", "z"]
while "x" in List_2:
    List_2.remove("x")
print(List_2)

['y', 'z']

In [78]:
#11) 7, 2, 9, 1 listini/vectorunu azalan sırayla sıralayın
list_3 = [7, 2, 9, 1]
list_3.sort(reverse=True)
print(list_3)

[9, 7, 2, 1]

In [79]:
#12) “rəqəmlər” listindən/vectorundan 10-dan böyük elementləri seçin
böyük_elementlər = [x for x in rəqəmlər if x > 10]
print(böyük_elementlər)

[50, 12, 15, 20, 25]

In [80]:
#1) 10, 20, 30, 40 elementlərindən ibarət s1 adlı series/vector yaradın
import pandas as pd
s1 = pd.Series([10, 20, 30, 40])

In [81]:
# 2) s1-ə 'w', 'x', 'y', 'z' indekslərini təyin edin
s1.index = ['w', 'x', 'y', 'z']

In [82]:
# 3) Python: {'p': 5, 'q': 10, 'r': 15} dictionary-dən s2 adlı Series yaradın
# R: list(p = 5, q = 10, r = 15) listindən v2 adlı named vektor yaradın
s2 = pd.Series({'p': 5, 'q': 10, 'r': 15})

In [83]:
# 4) s2-dən 'q' indeksli elementi seçin
print(s2['q'])

10

In [84]:
# 5) s1-dən 25-dən böyük elementləri seçin
print(s1[s1 > 25])

y    30
z    40
dtype: int64

In [85]:
# 6) s1-də 20-dən böyük elementləri 10-a bölün
print(s1[s1 > 20] / 10)

y    3.0
z    4.0
dtype: float64

In [86]:
# 7) ((1, 2), (3, 4)) listindən/vectorundan df1 adlı dataframe yaradın
df1 = pd.DataFrame([(1, 2), (3, 4)])

In [87]:
# 8) df1-ə ('r1', 'r2') sətir və ('c1', 'c2') sütun adlarını təyin edin
df1.index = ['r1', 'r2']
df1.columns = ['c1', 'c2']

In [88]:
# 9) Python: {'A': [1, 2], 'B': [3, 4]} dictionary-dən df2 yaradın
df2 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})

In [89]:
# 10) df2-də 'A' sütunu 1-dən böyük olan sətirləri seçin
print(df2[df2['A'] > 1])

   A  B
1  2  4